/* Write your CSS here */
.team-card-container {
  height: 120px;
  width: 48%;
  list-style-type: none;
  margin-right: 10px;
  align-items: center;
}

.link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ffffff33;
  height: 85%;
  border-radius: 12px;
  border: 1px solid #ffffff;
  text-decoration: none;
}

.team-image {
  height: 100px;
  width: 100px;
}

.team-name-heading {
  font-size: 18px;
  font-weight: 500;
  font-family: Roboto;
  color: #ffffff;
}
